.btn {
  padding: 10px;
  margin: 10px;
  position: relative;
  left: 9px;
}

#timer {
  font-size: 20px;
  position: absolute;
  left: 160px;
}

#save-btn {
  position: relative;
  top: 30px;
  left: 150px;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
