.btn {
  padding: 10px;
  margin: 10px;
  position: relative;
  left: 9px;
}

#timer {
  font-size: 20px;
  position: absolute;
  left: 157px;
}

#timer-container {
  /* background-color: yellow; */
  height: 100px;
}
#save-btn {
  position: absolute;
  left: 148px;
}

#save-project-form {
  position: relative;

  height: 150px;
  padding: 40px;
  /* background-color: blue; */
}

#inputProjectName {
  width: 300px;
}
