.btn {
  padding: 10px;
  margin: 10px;
  position: relative;
  left: 9px;
}

#timer {
  font-size: 20px;
  position: absolute;
  left: 157px;
}

#timer-container {
  /* background-color: yellow; */
  height: 100px;
}
#save-btn {
  position: absolute;
  left: 148px;
}

#save-project-form {
  position: absolute;
  height: 150px;
  padding: 40px;
  z-index: 1;
  background-color: #e6e6e6;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 10px 10px 79px -20px rgba(0, 0, 0, 0.75);
}

#save-project-form input {
  width: 300px;
  background-color: inherit;
  border: none;
}

/* #inputProjectName {
  
} */
